html {
    max-width: 1000px;
    margin: auto;
}

#search_block {
    font-family: 'American Typewriter', sans-serif;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px; 
    background-color: #09a2ee5b;
    padding: 2%;
}

#brbd {
    font-family: 'American Typewriter', sans-serif;
    font-weight: normal;
    text-align: left;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'American Typewriter', sans-serif;
    text-align: center;
    font-weight: normal;
    background-color: #09a2ee5b;
    border: solid 2px black;
    border-radius: 5px; 
}

.librarian {
    width: 200px;
    height: auto;
}

#librarian {
    display: block;
}

#inp {
    display: block;
    font-size: 26px;
}

#typed-strings {
    display: block;
    font-size: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #09a2ee91;
    color: black;
    height: 95%;
    width: 99%;
    border-radius: 5px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:solid;
}


#theReadingList {    
    background-image:url(shutterstock_160993595.png);
    background-color: #353535;
    color: black;
    border-radius: 5px; 
    border:solid;
    padding: 2%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
}




/* IMAGE */
.image {
    width: 175px;
    height: auto;
}

.image:hover {
    transform: rotateY(180deg);
    width: 175px;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #353535;
}

.image:not(:hover) {
    width: 175px;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}





.title {
    text-align: center;
}

.delete{
    border: solid 1px black;
    background: #e60c0c;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 10px;
}

.delete:hover {
    background: #e60c0c;
    border-radius: 10% 20% / 50% 40%;
    font-weight: bold;
    box-shadow: 10px 5px 5px orange;
}

.pageProg {   
    width: 20%; 
}

.pageProgLab {
    display: inline;
    margin-top: 10px;
}

.addToMyReadingList {
    border: solid 1px black;
    background: #6ee60c45;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 10px;    
    margin-bottom: 25px;
}

.addToMyReadingList:hover {
    border: solid 1px black;
    background: #6ee60c45;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 3px 1px 1px rgb(5, 239, 145);
    margin-bottom: 25px;
}

#search {
    width: 75px;
    height: 25px;
    background-color: greenyellow;
    border: none;
    border-radius: 10px 10px 10px 10px;
}

#search:hover {
    width: 75px;
    height: 25px;
    background-color: greenyellow;
    box-shadow: 3px 1px 1px rgb(5, 63, 239);
    border: 2px solid black;
}

#test {
    font-size: 50px !important;
    color: green;
    font-weight: bold;
}

#typed {
    font-size: 70px;
    color: black;
    font-weight: bold;
}

.typed-cursor {
    color: black;
    font-size: 30px;
    animation: blink 1s;
}