#search_block {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: solid 2px black;
    background-color: white;
    padding: 2%;
    margin-bottom: 2px;
}

#output {
    text-align: center;
    background-color: rgb(164, 144, 144);
    border: solid 2px black;
}

.librarian {
    width: 200px;
    height: auto;
}

#librarian {
    display: block;
}