#search_block {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: solid 2px black;
    background-color: white;
    padding: 2%;
}

#output {
    text-align: center;
    background-color: transparent;
    border: solid 2px black;
}

.librarian {
    width: 200px;
    height: auto;
}

#librarian {
    display: block;
}

#inp {
    display: block;
    font-size: 26px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #7e7e7e;
    color: #fff;
    height: 95%;
    width: 99%;
    border-radius: 5px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:solid;
}

#theReadingList {    
    background-color: #353535;
    padding: 2%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
}
